body {
  background-color: #3f474d;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin: 10px 0px 24px;
  font-family: 'Petit Formal Script', sans-serif;
  color: #2d3338;
  font-size: 69px;
  line-height: 54px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  text-shadow: none;
}

h2 {
  margin: 0px 0px 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  text-shadow: none;
}

h3 {
  margin: 5px 0px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  text-shadow: none;
}

h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  letter-spacing: 0px;
  text-shadow: none;
}

.button {
  display: block;
  width: 30%;
  height: 54px;
  margin-left: -1px;
  padding: 4px 29px;
  float: left;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #1abc9c;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #22a88d;
}

.button:active {
  background-color: #209e85;
  box-shadow: inset 0 4px 12px -4px rgba(0, 0, 0, .29);
}

.subtitle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 89px;
  margin-bottom: 63px;
  margin-left: 89px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #74737a;
  font-size: 25px;
  line-height: 31px;
  font-weight: 400;
  text-align: center;
  text-shadow: none;
}

.field {
  width: 70%;
  height: 54px;
  padding-right: 20px;
  padding-left: 20px;
  float: left;
  border: 0px solid #000;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: hsla(0, 0%, 100%, .7);
  box-shadow: inset 0 0 8px 0 transparent, inset 0 0 0 1px rgba(0, 0, 0, .16);
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  color: #262c46;
  font-size: 16px;
}

.sign-up-form {
  margin-bottom: 66px;
}

.social-widget {
  width: 100px;
  float: left;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-widget-wrapper {
  display: block;
  width: 223px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
}

.success-message {
  padding: 20px;
  border-radius: 2px;
  background-color: #209981;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.spread-word {
  margin-top: 12px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: hsla(0, 0%, 100%, .6);
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-shadow: none;
}

.error-message {
  padding-bottom: 5px;
  border-radius: 2px;
  background-color: #5c3245;
}

.header-section {
  height: 100%;
  padding-top: 104px;
  background-color: #e0ddd7;
  background-image: url('../images/topography.png');
  background-position: 0px 0px;
  background-size: 200px;
  text-align: center;
}

.footer-section {
  padding-top: 38px;
  padding-bottom: 34px;
  background-color: #3f474d;
  color: #7e7c87;
}

.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 21px;
  float: left;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: rgba(0, 0, 0, .52);
  text-align: center;
}

.bars-wrapper {
  background-color: #1abc9c;
}

.bar {
  width: 14.285%;
  height: 7px;
  float: left;
  background-color: #1abc9c;
}

.bar._2 {
  background-color: #f2ca27;
}

.bar._3 {
  background-color: #e67e22;
}

.bar._4 {
  background-color: #16a085;
}

.bar._5 {
  background-color: #2980b9;
}

.bar._6 {
  background-color: #e74c3c;
}

.container {
  padding-top: 49px;
  padding-right: 70px;
  padding-left: 70px;
}

.image-crop {
  overflow: hidden;
  height: 260px;
}

.social-section {
  padding-top: 58px;
  padding-bottom: 58px;
  background-color: #1abc9c;
  text-align: center;
}

.share-btn {
  display: inline-block;
  width: 61px;
  margin-right: 14px;
  margin-left: 14px;
}

.share-wrapper {
  margin-top: 32px;
}

.refer {
  color: hsla(0, 0%, 100%, .59);
}

.align-right {
  text-align: right;
}

.social-btn {
  margin-left: 17px;
  opacity: 0.44;
}

.heading {
  font-family: Lato, sans-serif;
  font-weight: 600;
}

.button-2 {
  margin-right: 20px;
  background-color: #1abc9c;
}

.button-2:hover {
  background-color: #0c866e;
}

.button-3 {
  margin-right: 12px;
  padding-right: 12px;
  -webkit-filter: saturate(200%);
  filter: saturate(200%);
}

.button-3:hover {
  background-color: #1874a5;
  -webkit-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
}

.body {
  background-image: url('../images/topography.png');
  background-position: 0px -52px;
  background-size: 200px;
}

.image {
  position: static;
  display: inline-block;
  -webkit-transition: opacity 992ms ease;
  transition: opacity 992ms ease;
  text-align: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-2 {
  padding-top: 36px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 29px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.button-4 {
  margin-right: 15px;
  background-color: #8b5e3c;
}

.button-4:hover {
  background-color: #6d4628;
}

.modal-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  width: 100%;
  padding-top: 80px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  text-align: center;
}

.signup-wrapper {
  position: static;
  display: block;
  width: 450px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.heading-2 {
  font-family: Montserrat, sans-serif;
  color: rgba(49, 43, 61, .89);
}

.list-item {
  color: rgba(49, 43, 61, .89);
  text-align: left;
}

.list-item-2 {
  color: rgba(49, 43, 61, .89);
  text-align: left;
}

.list-item-3 {
  color: rgba(49, 43, 61, .89);
  text-align: left;
}

.text-block {
  margin-bottom: 17px;
  color: rgba(49, 43, 61, .89);
  text-align: left;
}

.close-link {
  color: #999;
  font-size: 12px;
  text-align: center;
}

@media (max-width: 991px) {
  .button {
    width: 30%;
  }
  .subtitle {
    text-shadow: none;
  }
  .field {
    width: 70%;
  }
  .social-btn {
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .social-btn:hover {
    opacity: 0.8;
  }
}

@media (max-width: 767px) {
  h1 {
    text-shadow: none;
  }
  .button {
    width: 40%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .subtitle {
    margin-right: 0px;
    margin-left: 0px;
    text-shadow: none;
  }
  .field {
    width: 60%;
    border-top-right-radius: 0px;
  }
  .sign-up-form {
    margin-bottom: 38px;
  }
  .header-section {
    padding-top: 37px;
  }
  .footer-section {
    padding-top: 23px;
    padding-bottom: 23px;
  }
  .container {
    padding-right: 33px;
    padding-left: 33px;
  }
  .social-section {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

@media (max-width: 479px) {
  h2 {
    font-size: 30px;
    line-height: 31px;
    text-shadow: none;
  }
  p {
    font-size: 17px;
    text-shadow: none;
  }
  .button {
    width: 100%;
    margin-left: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .subtitle {
    margin-bottom: 44px;
    font-size: 22px;
    line-height: 26px;
    text-shadow: none;
  }
  .field {
    width: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
  }
  .social-widget {
    width: 97px;
  }
  .social-widget-wrapper {
    display: block;
    width: 215px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
  }
  .copyright {
    margin-bottom: 16px;
    font-size: 12px;
    text-align: center;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .image-crop {
    height: auto;
    margin-bottom: 40px;
  }
  .social-section {
    padding-right: 14px;
    padding-left: 14px;
  }
  .align-right {
    text-align: center;
  }
  .social-btn {
    margin-right: 17px;
  }
  .button-2 {
    margin-right: 9px;
  }
  .body {
    overflow: visible;
  }
  .image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}

